
<div class="container">
  <div class="row">
    <h1><%= user.username%>'s profile</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul>
    <% lists.forEach(list =>{%>
      <a href="/lists/<%= list.id %>">
      <div class="col s5 userList">
        <h4> <%= list.name %> </h4>
        <%list.items.forEach(item =>{%>
          <div class="listItems">
            <li><h6><%=item.name%></h6></li>
            <li><%=item.category%></li>
          </div>
        <%})%>
      </div>
      </a>
      <% }); %>
    </ul>
  </div>

</div>
